// $navbar-height: 4.25rem;
$navbar-item-img-max-height: 3.0rem; // related to https://github.com/gbif/hosted-portals/issues/18

@import "theme/_main";

// You can add additional styling here
.my-custom-identifier-for-styling {
  border: 10px solid gold;
  border-width: 10px 0;
}
.some-example-logo-class {
  display: flex;
  align-items: flex-start;
  img {
    width: 60px;
    margin-right: 12px;
  }
}

// some styling to control iage sizes and position on the partners page. The class .partners is there because we add it in the frontmatter using "klass: partners"
.partners {
  table {
    td {
      vertical-align: middle!important;
    }
    img {
      max-width: 90px;
    }
  }
}
