// $navbar-height: 4.25rem;
$navbar-item-img-max-height: 2.6rem; // related to https://github.com/gbif/hosted-portals/issues/18
$navbar-dropdown-arrow: #4a4a4a;

@import "theme/_main";

// You can add additional styling here
.homeSplit {
  border: none!important;
  margin-bottom: 12px;
  max-width: 1200px;
  padding: 12px;
  .feature-img {
    border-radius: 10px;
    overflow: hidden;
  }
}
.aboutSplit {
  margin-top: 24px;
}

.home {
  .floatingHero .feature-pre-title {
    font-size: 19px;
  }
}
